<h1><%= @restaurant.name %></h1>
<label>Restaurant's address:</label>
<strong><%= @restaurant.address %></strong><br>
<label>Restaurant's cuisine:</label>
<strong><%= @restaurant.category %></strong><br>
<label>Restaurant's phone number:</label>
<strong><%= @restaurant.phone_number %></strong>

<h4>Reviews</h4>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %><%= review.rating %></li>
  <% end %>
</ul>

<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %><br>
<%= link_to "Delete #{@restaurant.name}",restaurant_path(@restaurant),method: :delete,data: { confirm: "Are you sure?" } %><br>
<%= link_to "Back", restaurants_path %>
